<a href="https://colab.research.google.com/github/Azlan-Qaisrani/my-first/blob/main/house_predition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
train=pd.read_csv('train.csv')
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
train.isna().sum()[train.isna().sum()>0]

LotFrontage      259
Alley           1369
MasVnrType       872
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [ ]:
train.LotFrontage.isna().sum()

np.int64(259)

In [ ]:
train=train.drop(["Id","Utilities","Street"],axis=1)

In [ ]:
train.shape

(1460, 78)

In [ ]:
train = train.fillna({
    'PoolQC': 'None',
    'MiscFeature': 'None',
    'Alley': 'None',
    'Fence': 'None',
    'FireplaceQu': 'None',
    'GarageType': 'None',
    'GarageFinish': 'None',
    'GarageQual': 'None',
    'GarageCond': 'None',
    'BsmtQual': 'None',
    'BsmtCond': 'None',
    'BsmtExposure': 'None',
    'BsmtFinType1': 'None',
    'BsmtFinType2': 'None',
    'MasVnrType': 'None'
})

In [ ]:
train.isna().sum()[train.isna().sum()>0]

LotFrontage    259
MasVnrArea       8
Electrical       1
GarageYrBlt     81
dtype: int64

In [ ]:
train['MasVnrArea']=train["MasVnrArea"].fillna(0.0)

In [ ]:
train

,MSSubClass,MSZoning,LotFrontage,LotArea,Alley,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,None,Reg,Lvl,Inside,Gtl,CollgCr,...,0,None,None,None,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,None,Reg,Lvl,FR2,Gtl,Veenker,...,0,None,None,None,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,None,IR1,Lvl,Inside,Gtl,CollgCr,...,0,None,None,None,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,None,IR1,Lvl,Corner,Gtl,Crawfor,...,0,None,None,None,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,None,IR1,Lvl,FR2,Gtl,NoRidge,...,0,None,None,None,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,None,Reg,Lvl,Inside,Gtl,Gilbert,...,0,None,None,None,0,8,2007,WD,Normal,175000
1456,20,RL,85.0,13175,None,Reg,Lvl,Inside,Gtl,NWAmes,...,0,None,MnPrv,None,0,2,2010,WD,Normal,210000
1457,70,RL,66.0,9042,None,Reg,Lvl,Inside,Gtl,Crawfor,...,0,None,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,20,RL,68.0,9717,None,Reg,Lvl,Inside,Gtl,NAmes,...,0,None,None,None,0,4,2010,WD,Normal,142125
1459,20,RL,75.0,9937,None,Reg,Lvl,Inside,Gtl,Edwards,...,0,None,None,None,0,6,2008,WD,Normal,147500

In [ ]:
train.GarageYrBlt.value_counts()

GarageYrBlt
2005.0    65
2006.0    59
2004.0    53
2003.0    50
2007.0    49
          ..
1900.0     1
1927.0     1
1906.0     1
1908.0     1
1933.0     1
Name: count, Length: 97, dtype: int64

In [ ]:
train['GarageYrBlt'] = train['GarageYrBlt'].fillna(0)

In [ ]:
train.LotFrontage.value_counts()

LotFrontage
60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
        ...
182.0      1
160.0      1
152.0      1
153.0      1
46.0       1
Name: count, Length: 110, dtype: int64

In [ ]:
train["LotFrontage"]=train['LotFrontage'].fillna(train.LotFrontage.median())

In [ ]:
train.isna().sum()[train.isna().sum()>0]

Electrical    1
dtype: int64

In [ ]:
train["Electrical"]=train['Electrical'].fillna(train.Electrical.mode()[0])

In [ ]:
train["TotalSF"]=train['TotalBsmtSF']+train['1stFlrSF']+train['2ndFlrSF']

In [ ]:
train

,MSSubClass,MSZoning,LotFrontage,LotArea,Alley,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,TotalSF
0,60,RL,65.0,8450,None,Reg,Lvl,Inside,Gtl,CollgCr,...,None,None,None,0,2,2008,WD,Normal,208500,2566
1,20,RL,80.0,9600,None,Reg,Lvl,FR2,Gtl,Veenker,...,None,None,None,0,5,2007,WD,Normal,181500,2524
2,60,RL,68.0,11250,None,IR1,Lvl,Inside,Gtl,CollgCr,...,None,None,None,0,9,2008,WD,Normal,223500,2706
3,70,RL,60.0,9550,None,IR1,Lvl,Corner,Gtl,Crawfor,...,None,None,None,0,2,2006,WD,Abnorml,140000,2473
4,60,RL,84.0,14260,None,IR1,Lvl,FR2,Gtl,NoRidge,...,None,None,None,0,12,2008,WD,Normal,250000,3343
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,None,Reg,Lvl,Inside,Gtl,Gilbert,...,None,None,None,0,8,2007,WD,Normal,175000,2600
1456,20,RL,85.0,13175,None,Reg,Lvl,Inside,Gtl,NWAmes,...,None,MnPrv,None,0,2,2010,WD,Normal,210000,3615
1457,70,RL,66.0,9042,None,Reg,Lvl,Inside,Gtl,Crawfor,...,None,GdPrv,Shed,2500,5,2010,WD,Normal,266500,3492
1458,20,RL,68.0,9717,None,Reg,Lvl,Inside,Gtl,NAmes,...,None,None,None,0,4,2010,WD,Normal,142125,2156
1459,20,RL,75.0,9937,None,Reg,Lvl,Inside,Gtl,Edwards,...,None,None,None,0,6,2008,WD,Normal,147500,2512

In [ ]:
train['Age']=train["YrSold"]-train['YearBuilt']

In [ ]:
train['RemodAge']=train["YrSold"]-train['YearRemodAdd']

In [ ]:
train['HasPool'] = (train['PoolArea'] > 0) | (train['PoolQC'] != "None")

In [ ]:
train['HasPool']

0       False
1       False
2       False
3       False
4       False
        ...
1455    False
1456    False
1457    False
1458    False
1459    False
Name: HasPool, Length: 1460, dtype: bool

In [ ]:
train['HasGarage'] = (train['GarageCars'] > 0) | (train['GarageType'] != "None")

In [ ]:
train['TotalBath'] = (
    train['FullBath'] +
    0.5 * train['HalfBath'] +
    train['BsmtFullBath'] +
    0.5 * train['BsmtHalfBath']
)

In [ ]:
train['TotalBath']

0       3.5
1       2.5
2       3.5
3       2.0
4       3.5
       ...
1455    2.5
1456    3.0
1457    2.0
1458    2.0
1459    2.5
Name: TotalBath, Length: 1460, dtype: float64

In [ ]:
train['IsRemodeled'] = train['YearRemodAdd'] != train['YearBuilt']

In [ ]:
train.MSSubClass

0       60
1       20
2       60
3       70
4       60
        ..
1455    60
1456    20
1457    70
1458    20
1459    20
Name: MSSubClass, Length: 1460, dtype: int64

In [ ]:
train['HasFireplace'] = (train['Fireplaces'] > 0) | (train['FireplaceQu'] != "None")

In [ ]:
train.drop([
    'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
    'YearBuilt', 'YrSold', 'YearRemodAdd',
    'PoolArea', 'PoolQC',
    'GarageCars', 'GarageType',
    'FullBath', 'HalfBath', 'BsmtFullBath', 'BsmtHalfBath',
    'Fireplaces', 'FireplaceQu',
    'GarageYrBlt'
], axis=1, inplace=True)

In [ ]:
train.shape

(1460, 69)

In [ ]:
print(train)

      MSSubClass MSZoning  LotFrontage  LotArea Alley LotShape LandContour  \
0             60       RL         65.0     8450  None      Reg         Lvl
1             20       RL         80.0     9600  None      Reg         Lvl
2             60       RL         68.0    11250  None      IR1         Lvl
3             70       RL         60.0     9550  None      IR1         Lvl
4             60       RL         84.0    14260  None      IR1         Lvl
...          ...      ...          ...      ...   ...      ...         ...
1455          60       RL         62.0     7917  None      Reg         Lvl
1456          20       RL         85.0    13175  None      Reg         Lvl
1457          70       RL         66.0     9042  None      Reg         Lvl
1458          20       RL         68.0     9717  None      Reg         Lvl
1459          20       RL         75.0     9937  None      Reg         Lvl

     LotConfig LandSlope Neighborhood  ... SaleCondition SalePrice TotalSF  \
0       Inside       Gtl      CollgCr  ...        Normal    208500    2566
1          FR2       Gtl      Veenker  ...        Normal    181500    2524
2       Inside       Gtl      CollgCr  ...        Normal    223500    2706
3       Corner       Gtl      Crawfor  ...       Abnorml    140000    2473
4          FR2       Gtl      NoRidge  ...        Normal    250000    3343
...        ...       ...          ...  ...           ...       ...     ...
1455    Inside       Gtl      Gilbert  ...        Normal    175000    2600
1456    Inside       Gtl       NWAmes  ...        Normal    210000    3615
1457    Inside       Gtl      Crawfor  ...        Normal    266500    3492
1458    Inside       Gtl        NAmes  ...        Normal    142125    2156
1459    Inside       Gtl      Edwards  ...        Normal    147500    2512

     Age  RemodAge  HasPool HasGarage TotalBath IsRemodeled HasFireplace
0      5         5    False      True       3.5       False        False
1     31        31    False      True       2.5       False         True
2      7         6    False      True       3.5        True         True
3     91        36    False      True       2.0        True         True
4      8         8    False      True       3.5       False         True
...   ..       ...      ...       ...       ...         ...          ...
1455   8         7    False      True       2.5        True         True
1456  32        22    False      True       3.0        True         True
1457  69         4    False      True       2.0        True         True
1458  60        14    False      True       2.0        True        False
1459  43        43    False      True       2.5       False        False

[1460 rows x 69 columns]

In [ ]:
cat_cols = train.select_dtypes(include=['object']).columns
num_cols = train.select_dtypes(exclude=['object']).columns

print("Categorical columns:", len(cat_cols))
print(cat_cols)

Categorical columns: 38
Index(['MSZoning', 'Alley', 'LotShape', 'LandContour', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd',
       'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional',
       'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'Fence',
       'MiscFeature', 'SaleType', 'SaleCondition'],
      dtype='object')

In [ ]:
bool_cols = ['HasPool', 'HasGarage', 'IsRemodeled', 'HasFireplace']
train[bool_cols] = train[bool_cols].astype(int)

In [ ]:
train_encoded = pd.get_dummies(train, drop_first=True)
train_encoded.shape

(1460, 238)

In [ ]:
print(train_encoded["SalePrice"])

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [ ]:
train_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Columns: 238 entries, MSSubClass to SaleCondition_Partial
dtypes: bool(207), float64(3), int64(28)
memory usage: 648.9 KB

In [ ]:
cols_to_drop = [
    'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',  # replaced by TotalSF
    'YearBuilt', 'YearRemodAdd', 'YrSold',  # replaced by Age, RemodAge, IsRemodeled
    'FullBath', 'HalfBath', 'BsmtFullBath', 'BsmtHalfBath',  # replaced by TotalBath
    'PoolArea', 'PoolQC',  # replaced by HasPool
    'GarageCars', 'GarageType'  # replaced by HasGarage
]
train_encoded.drop(columns=cols_to_drop, inplace=True, errors='ignore')

In [ ]:
train_encoded.shape

(1460, 238)

In [ ]:
bool_cols = train_encoded.select_dtypes('bool').columns
train_encoded[bool_cols] = train_encoded[bool_cols].astype(int)

In [ ]:
train_encoded.select_dtypes('bool').columns

Index([], dtype='object')

In [ ]:
print(train_encoded)

      MSSubClass  LotFrontage  LotArea  OverallQual  OverallCond  MasVnrArea  \
0             60         65.0     8450            7            5       196.0
1             20         80.0     9600            6            8         0.0
2             60         68.0    11250            7            5       162.0
3             70         60.0     9550            7            5         0.0
4             60         84.0    14260            8            5       350.0
...          ...          ...      ...          ...          ...         ...
1455          60         62.0     7917            6            5         0.0
1456          20         85.0    13175            6            6       119.0
1457          70         66.0     9042            7            9         0.0
1458          20         68.0     9717            5            6         0.0
1459          20         75.0     9937            5            6         0.0

      BsmtFinSF1  BsmtFinSF2  BsmtUnfSF  LowQualFinSF  ...  SaleType_ConLI  \
0            706           0        150             0  ...               0
1            978           0        284             0  ...               0
2            486           0        434             0  ...               0
3            216           0        540             0  ...               0
4            655           0        490             0  ...               0
...          ...         ...        ...           ...  ...             ...
1455           0           0        953             0  ...               0
1456         790         163        589             0  ...               0
1457         275           0        877             0  ...               0
1458          49        1029          0             0  ...               0
1459         830         290        136             0  ...               0

      SaleType_ConLw  SaleType_New  SaleType_Oth  SaleType_WD  \
0                  0             0             0            1
1                  0             0             0            1
2                  0             0             0            1
3                  0             0             0            1
4                  0             0             0            1
...              ...           ...           ...          ...
1455               0             0             0            1
1456               0             0             0            1
1457               0             0             0            1
1458               0             0             0            1
1459               0             0             0            1

      SaleCondition_AdjLand  SaleCondition_Alloca  SaleCondition_Family  \
0                         0                     0                     0
1                         0                     0                     0
2                         0                     0                     0
3                         0                     0                     0
4                         0                     0                     0
...                     ...                   ...                   ...
1455                      0                     0                     0
1456                      0                     0                     0
1457                      0                     0                     0
1458                      0                     0                     0
1459                      0                     0                     0

      SaleCondition_Normal  SaleCondition_Partial
0                        1                      0
1                        1                      0
2                        1                      0
3                        0                      0
4                        1                      0
...                    ...                    ...
1455                     1                      0
1456                     1                      0
1457                     1                      0
1458                     1                      0
1459                     1                      0

[1460 rows x 238 columns]

In [ ]:
import numpy as np
import pandas as pd

# Copy the encoded dataset
train_clean = train_encoded.copy()

# Define preferred numeric columns for Z-score filtering
preferred_cols = [
    'SalePrice', 'LotArea', 'TotalSF', 'OverallQual', 'OverallCond',
    'BsmtFinSF1', '1stFlrSF', '2ndFlrSF', 'BedroomAbvGr',
    'TotalBath', 'GarageArea', 'Age', 'RemodAge'
]

# Keep only columns that actually exist in your dataset
important_cols = [col for col in preferred_cols if col in train_clean.columns]

# Compute Z-scores only for available columns
z_scores = np.abs((train_clean[important_cols] - train_clean[important_cols].mean()) / train_clean[important_cols].std())

# Remove rows where any of these columns have |Z| > 3
train_clean = train_clean[(z_scores < 3).all(axis=1)]

print("Before removing outliers:", train_encoded.shape)
print("After removing outliers:", train_clean.shape)

Before removing outliers: (1460, 238)
After removing outliers: (1373, 238)

In [ ]:
train_clean['SalePrice']

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1454    185000
1455    175000
1456    210000
1458    142125
1459    147500
Name: SalePrice, Length: 1373, dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler

# Make a copy to avoid modifying original data
train_scaled = train_clean.copy()

# Select numeric columns only
numeric_cols = train_scaled.select_dtypes(include=['float64', 'int64']).columns

# Initialize the scaler
scaler = StandardScaler()

# Fit and transform numeric columns
train_scaled[numeric_cols] = scaler.fit_transform(train_scaled[numeric_cols])

# Show summary
print("✅ Standardization done successfully!")
print(train_scaled[numeric_cols].describe().T.head(10))  # view first 10 standardized columns

✅ Standardization done successfully!
               count          mean       std       min       25%       50%  \
MSSubClass    1373.0  4.269467e-17  1.000364 -0.866318 -0.866318 -0.158450
LotFrontage   1373.0 -3.053315e-16  1.000364 -2.314304 -0.446149 -0.015037
LotArea       1373.0  1.125587e-16  1.000364 -2.006652 -0.517114 -0.072655
OverallQual   1373.0  3.467324e-16  1.000364 -3.119022 -0.807118 -0.036483
OverallCond   1373.0  1.500782e-16  1.000364 -2.518958 -0.543784 -0.543784
MasVnrArea    1373.0  3.622578e-17  1.000364 -0.582280 -0.582280 -0.582280
BsmtFinSF1    1373.0 -7.762666e-17  1.000364 -1.026986 -1.026986 -0.105476
BsmtFinSF2    1373.0 -5.175111e-18  1.000364 -0.291016 -0.291016 -0.291016
BsmtUnfSF     1373.0 -6.468889e-17  1.000364 -1.293981 -0.780483 -0.197903
LowQualFinSF  1373.0 -1.681911e-17  1.000364 -0.113291 -0.113291 -0.113291

                   75%        max
MSSubClass    0.313462   3.144936
LotFrontage   0.416076  11.672907
LotArea       0.405439   7.075685
OverallQual   0.734152   3.046056
OverallCond   0.443803   2.418976
MasVnrArea    0.377388   9.197778
BsmtFinSF1    0.667325   3.107621
BsmtFinSF2   -0.291016   8.716136
BsmtUnfSF     0.550469   4.085090
LowQualFinSF -0.113291  12.093872

In [ ]:
train_scaled[numeric_cols].mean().round(2).head()

MSSubClass     0.0
LotFrontage   -0.0
LotArea        0.0
OverallQual    0.0
OverallCond    0.0
dtype: float64

In [ ]:
x=train_scaled.drop('SalePrice',axis=1)
y=train_clean['SalePrice']

In [ ]:
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1454    185000
1455    175000
1456    210000
1458    142125
1459    147500
Name: SalePrice, Length: 1373, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_val,y_train,y_val=train_test_split(x,y,test_size=0.2,random_state=42)
print(x_train.shape)
print(x_val.shape)
print(y_train.shape)
print(y_val.shape)

(1098, 237)
(275, 237)
(1098,)
(275,)

In [ ]:

from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import make_scorer, mean_squared_error, r2_score
from xgboost import XGBRegressor

In [ ]:

y_train_log = np.log1p(y_train)


def rmse(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))

rmse_scorer = make_scorer(rmse, greater_is_better=False)
r2_scorer = make_scorer(r2_score)

In [ ]:
base_models = {
    "Linear": LinearRegression(),
    "Ridge": Ridge(alpha=1.0),
    "Lasso": Lasso(alpha=0.001),
    "RandomForest": RandomForestRegressor(n_estimators=100, random_state=42),
    "XGBoost": XGBRegressor(
        n_estimators=500,
        learning_rate=0.05,
        max_depth=4,
        subsample=0.8,
        colsample_bytree=0.8,
        random_state=42,
        tree_method='hist'
    )
}

In [ ]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)
results = {}

In [ ]:
for name, model in base_models.items():
    bagging = BaggingRegressor(
        estimator=model,
        n_estimators=10,
        max_samples=0.8,
        random_state=42
    )

    # Cross-validation for RMSE
    rmse_scores = cross_val_score(
        bagging, x_train, y_train_log,
        cv=kf,
        scoring=rmse_scorer
    )

    # Cross-validation for R² score
    r2_scores = cross_val_score(
        bagging, x_train, y_train_log,
        cv=kf,
        scoring=r2_scorer
    )

    results[name] = {
        "Mean Log RMSE": -rmse_scores.mean(),
        "Mean R² (Accuracy)": r2_scores.mean()
    }

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.684e-02, tolerance: 1.236e-02
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.501e-02, tolerance: 1.204e-02
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.581e-02, tolerance: 1.231e-02
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.684e-02, tolerance: 1.236e-02
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.501e-02, tolerance: 1.204e-02
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.581e-02, tolerance: 1.231e-02
  model = cd_fast.enet_coordinate_descent(

In [ ]:

print(f"{'Model':15} | {'Log RMSE (Loss)':>15} | {'R² Score (Accuracy)':>20}")
print("-" * 55)

for name, vals in results.items():
    print(f"{name:15} | {vals['Mean Log RMSE']:<15.4f} | {vals['Mean R² (Accuracy)']:<20.4f}")

Model           | Log RMSE (Loss) |  R² Score (Accuracy)
-------------------------------------------------------
Linear          | 0.1242          | 0.8883
Ridge           | 0.1217          | 0.8933
Lasso           | 0.1156          | 0.9038
RandomForest    | 0.1354          | 0.8677
XGBoost         | 0.1177          | 0.8996

In [ ]:
from google.colab import drive
drive.mount('/content/drive')